<!DOCTYPE html>
<html>

<head>
    <title>Lasallian EduConnect Hub</title>
    <link rel="stylesheet" href="/css/styles-profile.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Website Logo">
                </a>
            </div>
            <div class="name-logo">
                <img src="images/name-logo.png" alt="Name Logo">
            </div>
            <a href="/profile">
                    {{#if user.profilePicture}}
                        <img class="profile-pic" src="data:image/png;base64,{{user.profilePicture}}" alt="Profile Picture">
                    {{else}}
                        <img class="profile-pic" src="images/logo.png">
                    {{/if}}
                </a>
        </div>
    </header>

    <div class="sidebar">
            <ul>
                <li><a href="/"><i class="fa fa-home"></i> Home </a></li>
                <!-- Added an ID for this link (for toggle feature) -->
                <li><a id="accountButton" href="/profile"><i class="fa fa-user"></i> Account </a></li>

                <li class="divider"><span></span></li>

                <li><a href="/pre-enlist"><i class="fa fa-list"></i> Pre-Enlistment Community </a></li>
                <li><a href="/enlistment"><i class="fa fa-list"></i> Enlistment Community </a></li>
                <li><a href="/student-concerns"><i class="fa fa-comments"></i> Student Concern Threads </a></li>

                <li class="divider"><span></span></li>

                <li><a href="/about"><i class="fa fa-address-card"></i> About us </a></li>
                <li><a href="/contact"><i class="fa fa-phone"></i> Contact us </a></li>

                <!-- Admin Menu button -->
                {{#ifEquals user.role 'admin'}}
                    <li><a href="/admin"><i class="fa fa-cogs"></i> Admin Menu </a></li>
                {{/ifEquals}}
            </ul>
        </div>

    <div class="container">
        <div class="profile-header">
            <span class="user-profile">User Profile</span>
        </div>
        <ul id="userDetails">
            <li class="divider"><span></span></li>

            <li class="userDetails">
                <span class="edit-profile">
                    <div class="profile-pic-container">
                        {{#if user.profilePicture}}
                            <img class="profile-pic-edit" src="data:image/png;base64,{{user.profilePicture}}" alt="Profile Picture">
                        {{else}}
                            <img class="profile-pic-edit" src="images/default-profile.jpg">
                        {{/if}}
                        <form action="/upload-profile-picture" method="POST" enctype="multipart/form-data">
                            <input type="file" name="profilePicture" accept="image/*">
                            <input type="submit" value="Upload" class="upload-button">
                        </form>
                    </div>
                </span>
            </li>

            <li class="user-detail">
                <div class="user-info-container">
                    <form action="/edit-profile" method="POST">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" value="{{user.username}}" required><br><br>
                        
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" value="{{user.firstName}}" required><br><br>
                        
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" value="{{user.lastName}}" required><br><br>
                        
                        <label for="email">Email Address:</label>
                        <input type="email" id="email" name="email" value="{{user.email}}" required><br><br>
                        
                        <input type="submit" value="Save Changes">
                    </form>
                </div>
            </li>

            <div class="update-password-form">
                <form id="changePasswordForm">
                    <input type="password" id="currentPassword" name="currentPassword" placeholder="Current Password" required>
                    <input type="password" id="newPassword" name="newPassword" placeholder="New Password" required>
                    <input type="submit" value="Change Password">
                </form>
            </div>

        </ul>
        <button class = "logout-button" id="logoutButton" onclick="location.href='/logout'">Logout</button>
    </div>

    <div class ="container">
        <div class="profile-header">
            <span class="user-profile">Your Posts</span>
        </div>
            <ul>
                 {{#if userPosts}}
                <ul>
                    {{#each userPosts}}
                        <div class="post">
                            <div class="user-header">
                                <div class="user-info">
                                    {{#if this.profilePicture}}
                                        <img class="profile-pic" src="data:image/png;base64,{{this.profilePicture}}" alt="Profile Picture">
                                    {{else}}
                                        <img class="profile-pic" src="/images/logo.png">
                                    {{/if}}
                                    <span class="username">{{this.username}}</span>
                                </div>
                            </div>
                            <div class="post-header">
                               <h2><a href="/post/{{this.id}}">{{this.postTitle}}</a></h2>
                            </div>
                            <div class="post-content">
                                <p>{{this.postContent}}</p>
                            </div>
                            <div class="post-actions">
                                <div class="vote-container">
                                    <upvote id="upvoteBtn" class="fa fa-arrow-up"> {{ upvotes }}</upvote>
                                </div>
                                <div class="vote-container">
                                    <downvote class="fa fa-arrow-down"> {{ downvotes }}</downvote>
                                </div>
                                <div class="vote-container">
                                    <comment class="fa fa-comment"> {{ comments.length }}</comment>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </ul>
            {{else}}
                <p>No posts found.</p>
            {{/if}}
            </ul>
        
        <!-- List of Comments -->
        <div class="profile-header">
            <span class="user-profile">Your Comments</span>
        </div>
            <ul>
                {{#if userComments}}
                <ul>
                    {{#each userComments}}
                    <div class="comment">
                        <div class="user-info">
                            {{#if this.profilePicture}}
                            <img class="profile-pic" src="data:image/png;base64,{{this.profilePicture}}" alt="Profile Picture">
                            {{else}}
                                <img class="profile-pic" src="/images/logo.png">
                            {{/if}}
                            <span class="comment-user">{{this.username}}</span>
                        </div>
                    <div class="post-content">
                                <p>{{this.text}}</p>
                    </div>
                </div>
                    {{/each}}
                </ul>
            {{else}}
                <p> No comments found.</p>
            {{/if}}
            </ul>
        </div>
    </div>
 
</body>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.querySelector('.update-password-form form');

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const currentPassword = document.querySelector('#currentPassword').value;
        const newPassword = document.querySelector('#newPassword').value;

        fetch('/update-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ currentPassword, newPassword })
        })
        .then(response => response.json())
        .then(data => {
            const message = document.createElement('p');
            message.textContent = data.message;
            form.appendChild(message);
        })
        .catch(error => console.error('Error:', error));
    });
});

var upvoted = false;
var downvoted = false;

      document.getElementById('upvoteBtn').addEventListener('click', function() {
          if (!upvoted) {
              var upvoteCount = parseInt(this.textContent.trim());
              upvoteCount += 1;
              this.textContent = ' ' + upvoteCount;
              upvoted = true;

              if (downvoted) {
                  var downvoteCount = parseInt(document.getElementById('downvoteBtn').textContent.trim());
                  downvoteCount -= 1;
                  document.getElementById('downvoteBtn').textContent = ' ' + downvoteCount;
                  downvoted = false;
              }
          } else {
              var upvoteCount = parseInt(this.textContent.trim());
              upvoteCount -= 1;
              this.textContent = ' ' + upvoteCount;
              upvoted = false;
          }
      });

      document.getElementById('downvoteBtn').addEventListener('click', function() {
          if (!downvoted) {
              var downvoteCount = parseInt(this.textContent.trim());
              downvoteCount += 1;
              this.textContent = ' ' + downvoteCount;
              downvoted = true;

              if (upvoted) {
                  var upvoteCount = parseInt(document.getElementById('upvoteBtn').textContent.trim());
                  upvoteCount -= 1;
                  document.getElementById('upvoteBtn').textContent = ' ' + upvoteCount;
                  upvoted = false;
              }
          } else {
              var downvoteCount = parseInt(this.textContent.trim());
              downvoteCount -= 1;
              this.textContent = ' ' + downvoteCount;
              downvoted = false;
          }
      });

</script>

</html>
